### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# .tfvars files
*.tfvars
Terraform/CreateGitLabCommunityEdition/terraform.tfstate
Terraform/CreateGitLabCommunityEdition/terraform.tfstate.backup
